node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
# potentiall sensitive info included
.env
google-services.json
firebase.ts
GoogleService-Info.plist